body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: beige;
}

/* h1 {
    text-align: center;
} */

.wrapper {
    
    width: 63.75;
    background-color: beige;
    position: absolute;
    padding: 2em;
    transform: translateX(-50%);
    left: 50%;
    top: 1.25em;
    border-radius: 0;
    border: solid;
}

.board {
    margin: 1.25em auto;
    width: 33.75em;
    border-radius: 0.6em;
    overflow: hidden;
    background-color: #416cea;
}

#player-indicators {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.player1:before {
    content: "";
    display: inline-block;
    width: 3.12em;
    height: 3.12em;
    border-radius: 50%;
    background: radial-gradient(#fff04e 1.12em, #ffc400 1.25em);
}


.player2:before {
    content: "";
    display: inline-block;
    width: 3.12em;
    height: 3.12em;
    border-radius: 50%;
    background: radial-gradient(#ff4747 1.12em, #c00303 1.25em);
}

